@media (max-width: 500px) {

    .base {
        width: 95%;
        
    }

    .base h1 {
        font-size: 24px;
    }

    .base .calculo input {
        width: 30%;
    }

    .base .resultado .btnC {
        padding: 8px;
    }

    .base .resultvalor {
        font-size: 14px;
    }

    .autor {
        font-size: 14px;
    }
}