body {
    background-color: #a5a58d;
    font-family: 'Oswald', sans-serif;
}

.base {
    background-color: #b7b7a4;
    height: 250px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.base h1 {
    text-align: center;
    color: #242423;
    padding: 8px;
}

.base .calculo {
    display: flex;
    justify-content: space-around;
}

.base .calculo input {
    height: 20px;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: #242423;
    color: #fefae0;
}

.base .calculo .selesoma {
    border: none;
    border-radius: 3px;
    color: #fefae0;
    background-color: #242423;
}

.base .calculo .selesoma:hover {
    border: 1px solid #007200;
    background-color: #333533;
}

.base .resultado {
    display: flex;
    justify-content: center;
}

.base .resultado input {
    margin: 20px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}


.base .resultado .btnC {
    color: #fefae0;
    background-color: #007200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnC:hover{
    background-color: #9ef01a;
    transform: scale(1.10);
}

.base .resultado .btnR {
    color: #e63946;
    background-color: #242423;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnR:hover {
    background-color: #333533;
    color: #fefae0;
    transform: scale(1.05);
}

.base .resultado .btnN {
    color: #fefae0;
    background-color: #007200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnN:hover{
    background-color: #9ef01a;
    transform: scale(1.10);
}

.base .resultvalor {
    text-align: center;
    color: #242423;
    width: 300px;
    margin: 0 auto;
}

.autor {
    text-align: center;
    position: relative;
    top: 160px;
}

.ativo {
    display: block;
}

.desativado {
    display: none;
}