@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
    --bg-color: #a5a58d;
    --bg-color2: #b7b7a4;
    --red: #e63946;

    --green-dark: #015F43;
    --green: #00875F;
    --green-light: #00B37E;
    --bg-darkmode: #09090A;
    --bg-darkelement: #121214;
    --bg-darkhover: #323238;
    --title: #E1E1E6;
    --text-dark: #C4C4CC;

    --font-padrao: 'Oswald', sans-serif;;
    font-size: 62.5%;
}

/* ########## Geral ########## */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    font-family: var(--font-padrao);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnDark {
    margin-bottom: 2rem;
    padding: .8rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--text-dark);
    background-color: var(--bg-darkelement);
    border: none;
    border-radius: 1.6rem;
    box-shadow: 0 .6rem var(--text-dark);
    font-weight: 700;
    font-family: var(--font-padrao);
}

#btnDark:hover {
    background-color: var(--bg-darkhover);
}

#btnDark:active {
    background-color: var(--bg-darkhover);
    box-shadow: 0 .2rem var(--bg-darkhover);
    transform: translateY(4px);
}

.base {
    background-color: var(--bg-color2);
    height: 25rem;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.base h1 {
    text-align: center;
    color: var(--bg-darkelement);
    margin-bottom: 2rem;
    font-size: 3rem;
}

.base .calculo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.base .calculo input, .selesoma {
    background-color: var(--bg-darkelement);
    border: 1px solid var(--bg-darkelement);
    border-radius: .3rem;
    color: var(--text-dark);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-padrao);
}

.base .calculo input {
    height: 2.6rem;
    width: 20rem;
    padding: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.base .calculo input:focus-visible {
    outline: 2px outset var(--green);
}

.base .calculo .selesoma {
    cursor: pointer;
    width: 5rem;
}

/* ########## Resultado e Botões ########## */

.base .resultado {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.base .resultado input {
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    padding: .5rem;
    font-size: 1.6rem;
    font-family: var(--font-padrao);
    transition: .3s;
}

.base .resultado .btnC {
    color: var(--title);
    background-color: var(--green-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnC:hover{
    background-color: var(--green);
    transform: scale(1.1);
}

.base .resultado .btnR {
    color: var(--red);
    background-color: var(--bg-darkelement);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnR:hover {
    background-color: var(--bg-darkhover);
    transform: scale(1.1);
}

.base .resultado .btnN {
    display: none;
    color: var(--title);
    background-color: var(--green-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.base .resultado .btnN:hover{
    background-color: var(--green);
    transform: scale(1.1);
}

.base .resultvalor p{
    text-align: center;
    color: var(--bg-darkelement);
    font-size: 2rem;
}

/* ########## Footer ########## */

footer, a {
    margin-top: 2rem;
    text-align: center;
    color: var(--bg-darkelement);
    transition: .4s;
}

.autor a:hover {
    color: var(--green-dark);
    text-decoration: underline;
}

/* ########## Dark Mode ########## */

body.darkmode {
    background-color: var(--bg-darkmode);
}

.base.darkmode {
    background-color: var(--bg-darkelement);
}

.base h1.darkmode {
    color: var(--title);
}

.base .calculo input.darkmode, .selesoma.darkmode {
    background-color: var(--text-dark);
    border: 1px solid var(--text-dark);
    color: var(--bg-darkelement);
}

.base .resultvalor p.darkmode {
    color: var(--title);
}

.base .resultado .btnR.darkmode {
    background-color: var(--bg-darkhover);
}

.base .resultado .btnR.darkmode:hover {
    filter: brightness(1.3);
}

#btnDark.darkmode {
    color: var(--bg-darkelement);
    background-color: var(--text-dark); 
}

#btnDark.darkmode:active {
    box-shadow: 0 .2rem var(--bg-darkelement);
}

.autor.darkmode {
    color: var(--text-dark);
}

a.darkmode {
    color: var(--text-dark);
}

@media (max-width: 810px) {
    body {
        align-items: flex-start;
    }

    .base {
        margin-top: 3rem;
    }

}

@media (max-width: 450px) {
    .base {
        width: 36rem;
    }

    .base h1 {
        font-size: 2.4rem;
    }

    .base .calculo input {
        width: 12rem;
    }
}